{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link href="{% static 'images/favicon.png' %}" rel="icon"/>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <title></title>

    <!-- Web Fonts
    ============================================= -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900'
          type='text/css'>

    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <!--
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/all.min.css" />-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}"/>

</head>
<body>
{% block body %}

{% endblock body %}


<!-- Script -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-spinner/bootstrap-spinner.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
            $('.select2').select2();

</script>
<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>