{% load static  %}
{% block header %}
<div class="feedback feedback-toggle rotate" style="width: 170px;margin-left: -20px;"><small>Request
    Callback</small>
</div>
<div class="feedback feedback-form-wrapper">
    <form id="feedback-form" class="form-horizontal" method="post">
        <legend class="text-center">Interested? provide your contact details below</legend>
        <div class="form-group">
            <label class="sr-only">Your Name</label>
            <input id="username" name="username" class="form-control" autocomplete="off" placeholder="Your Name *"
                   required="required" type="text">
        </div>
        <div class="form-group">
            <label class="sr-only">Email ID</label>
            <input name="emailquery" id="emailquery" class="form-control" autocomplete="off"
                   placeholder="Your Email *" required="required" type="email">
        </div>
        <div class="form-group">
            <label class="sr-only">Phone Number</label>
            <input name="phoneno" id="phoneno" class="form-control" autocomplete="off" placeholder="Phone Number *"
                   required="required" type="number">
        </div>
        <div class="form-group">
            <label class="sr-only">Issue</label>
            <textarea id="issue" name="issue" class="form-control" rows="3" autocomplete="off"
                      placeholder="Write Your Issue *" required="required"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label">I need service on</label>
            <input class="form-control" name="dateOfReg" id="dateOfReg" autocomplete="off" placeholder="02/03/2014"
                   required="required" min="2015-05-1" type="text">
        </div>

        <div class="form-group">
            <button type="submit" name="sendissuedetails" id="sendissuedetails" class="btn btn-default">Send Details
            </button>
        </div>
    </form>
</div>
{% endblock header %}